html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: #aaa;

	font-family: 'Noto Sans', sans-serif;
	font-size: 100%;

	--h1-size: 1.6em;
	--h2-size: 1.4em;
	--h3-size: 1.2em;

	/***************
	* color params *
	***************/

	--selection-fg: #eee;
	--selection-bg: rgba(51, 102, 204, 0.6);

	--h1-border: #888;
	--h1-shadow: #444;
	--h1-backgr: #aaa;

	--h2-border: #666;

	--h3-unline: #888;

	--list-a-fg: #369;
	--list-a-h-fg: #fff;
	--list-a-h-bg: #69c;

	--a-fg: #36c;
	--a-v-fg: #63c;

	--tbl-border: #036;
	--tbl-backgr: #eee;

	--input-bg: #bbb;
	--input-ul: #222;
	--input-fg: #024;
	--input-f-bg: #777;

	--err-bg: #e77;
	--err-fg: #422;
	--err-ul: #211;

	--btn-fg: #bdf;
	--btn-bg: #06c;
	--btn-h-bg: #05a;
	--btn-a-bg: #048;

	--evil-btn-fg: #fcc;
	--evil-btn-bg: #c33;
	--evil-btn-h-bg: #a22;
	--evil-btn-a-bg: #811;

	--btn-na-bg: #444;
	--btn-na-fg: #bbb;

	--iframe-border: #036;

	/*************
	* url params *
	*************/

	--panel: url("/static/images/panel.svg");
	--bgimg: url("/static/images/background.jpg");
	--extln: url("/static/images/external-link.svg");
}

html[data-theme="dark"] {
	color: #ddd;
	background-color: #555;

	/***************
	* color params *
	***************/

	--selection-fg: #111;
	--selection-bg: rgba(102, 153, 255, 0.9);

	--h1-border: #333;
	--h1-shadow: #bbb;
	--h1-backgr: #111;

	--h2-border: #999;

	--h3-unline: #777;

	--list-a-fg: #9cf;
	--list-a-h-fg: #333;
	--list-a-h-bg: #9cf;

	--a-fg: #69f;
	--a-v-fg: #96f;

	--tbl-border: #9cf;
	--tbl-backgr: #111;

	--input-bg: #444;
	--input-ul: #ddd;
	--input-fg: #bdf;
	--input-f-bg: #888;

	--err-bg: #844;
	--err-fg: #fcc;
	--err-ul: #422;

	--btn-fg: #024;
	--btn-bg: #39f;
	--btn-h-bg: #7bf;
	--btn-a-bg: #bdf;

	--evil-btn-fg: #411;
	--evil-btn-bg: #d33;
	--evil-btn-h-bg: #e66;
	--evil-btn-a-bg: #f99;

	--btn-na-bg: #bbb;
	--btn-na-fg: #444;

	--iframe-border: #9cf;

	/*************
	* url params *
	*************/

	--panel: url("/static/images/panel-dark.svg");
	--bgimg: url("/static/images/background-dark.jpg");
	--extln: url("/static/images/external-link-dark.svg");
}

@media only screen and (prefers-color-scheme: dark) {
	html[data-theme="light"] {
		color: #222;
		background-color: #aaa;

		/***************
		* color params *
		***************/

		--selection-fg: #eee;
		--selection-bg: rgba(51, 102, 204, 0.6);

		--h1-border: #888;
		--h1-shadow: #444;
		--h1-backgr: #aaa;

		--h2-border: #666;

		--h3-unline: #888;

		--list-a-fg: #369;
		--list-a-h-fg: #fff;
		--list-a-h-bg: #69c;

		--a-fg: #36c;
		--a-v-fg: #63c;

		--tbl-border: #036;
		--tbl-backgr: #eee;

		--input-bg: #bbb;
		--input-ul: #222;
		--input-fg: #024;
		--input-f-bg: #777;

		--err-bg: #e77;
		--err-fg: #422;
		--err-ul: #211;

		--btn-fg: #bdf;
		--btn-bg: #06c;
		--btn-h-bg: #05a;
		--btn-a-bg: #048;

		--evil-btn-fg: #fcc;
		--evil-btn-bg: #c33;
		--evil-btn-h-bg: #a22;
		--evil-btn-a-bg: #811;

		--btn-na-bg: #444;
		--btn-na-fg: #bbb;

		--iframe-border: #036;

		/*************
		* url params *
		*************/

		--panel: url("/static/images/panel.svg");
		--bgimg: url("/static/images/background.jpg");
		--extln: url("/static/images/external-link.svg");
	}

	html {
		color: #ddd;
		background-color: #555;

		/***************
		* color params *
		***************/

		--selection-fg: #111;
		--selection-bg: rgba(102, 153, 255, 0.9);

		--h1-border: #333;
		--h1-shadow: #bbb;
		--h1-backgr: #111;

		--h2-border: #999;

		--h3-unline: #777;

		--list-a-fg: #9cf;
		--list-a-h-fg: #333;
		--list-a-h-bg: #9cf;

		--a-fg: #69f;
		--a-v-fg: #96f;

		--tbl-border: #9cf;
		--tbl-backgr: #111;

		--input-bg: #444;
		--input-ul: #ddd;
		--input-fg: #bdf;
		--input-f-bg: #888;

		--err-bg: #844;
		--err-fg: #fcc;
		--err-ul: #422;

		--btn-fg: #024;
		--btn-bg: #39f;
		--btn-h-bg: #5af;
		--btn-a-bg: #7bf;

		--evil-btn-fg: #411;
		--evil-btn-bg: #d33;
		--evil-btn-h-bg: #e66;
		--evil-btn-a-bg: #f99;

		--btn-na-bg: #bbb;
		--btn-na-fg: #444;

		--iframe-border: #9cf;

		/*************
		* url params *
		*************/

		--panel: url("/static/images/panel-dark.svg");
		--bgimg: url("/static/images/background-dark.jpg");
		--extln: url("/static/images/external-link-dark.svg");
	}
}

::selection {
	background-color: var(--selection-bg);
	color: var(--selection-fg);
}

div#bg {
	display: none;
}

h1, h2, h3 {
	font-family: 'JetBrains Mono', monospace;
	margin: 0.5em 0;
}

h1, h2 {
	text-align: center;
}

h1 {
	border: 0.1875rem solid var(--h1-border);
	box-shadow: inset 0 0 0 0.25rem var(--h1-shadow);
	padding: 0.3125rem;

	background-color: var(--h1-backgr);
	font-variant: small-caps;
	font-size: var(--h1-size);
	font-weight: 800;
}

h2 {
	border-bottom: 0.125rem solid var(--h2-border);
	font-size: var(--h2-size);
	font-weight: 600;
}

h3 {
	text-decoration: underline;
	text-decoration-color: var(--h3-unline);
	font-size: var(--h3-size);
	font-weight: 400;
}

.desktop {
	display: none;
}

/*noinspection CssOverwrittenProperties*/
main > section, main > nav.mobile, main > aside.mobile {
	border-image-source: var(--panel);
	border-image-slice: 40% fill;
	border-image-width: 1em;
	border-width: 1em;

	padding: 1.5em 1.5em;

	box-sizing: border-box;
	width: 90vw;
	margin: 5vw 5vw;

	position: relative;
	z-index: 1;
}

aside.mobile img {
	margin: auto;
	display: block;
}

@media only screen and (min-width: 8in) {
	html {
		padding: 1.25rem 5vw;

		--h1-size: 2.6em;
		--h2-size: 2.2em;
		--h3-size: 1.8em;
	}

	div#bg {
		display: unset;

		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;

		background-image: var(--bgimg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;

		z-index: 0;
	}

	main {
		padding: 5vh 0;
	}

	/*noinspection CssOverwrittenProperties*/
	main > section, nav.desktop, aside.desktop {
		border-image-source: var(--panel);
		border-image-slice: 40% fill;
		border-image-width: 2em;
		border-width: 2em;

		box-sizing: border-box;
		padding: 2.5em 3em;

		position: relative;
		z-index: 1;
	}

	main > section {
		width: 40%;
		margin: 5vh auto;
	}

	main > section:first-of-type {
		margin: 0 auto 5vh;
	}

	main > section:last-of-type {
		margin: 5vh auto 0;
	}

	main > section:only-of-type {
		margin: 0 auto;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: unset;
	}

	nav.desktop {
		width: 20%;
		float: left;
		margin: 5vh 5vw;
	}

	aside.desktop {
		width: 20%;
		float: right;
		margin: 5vh 5vw;
	}

	aside.desktop img {
		width: 100%;
	}
}

div.list {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

div.list > div.head {
	width: 100%;
	height: 2em;
	line-height: 2em;

	margin: 0;
	padding: 0;

	text-align: center;
	font-weight: bold;
}

div.list > div.item {
	width: 100%;
	height: 2em;
	line-height: 2em;

	margin: 0;
	padding: 0;

	vertical-align: middle;
	text-align: center;
}

div.list > div.item > a {
	display: inline-block;
	width: 100%;
	height: 2em;

	vertical-align: middle;
	text-align: center;

	border-radius: 0.3em;
	color: var(--list-a-fg);
	text-decoration: none;
}

div.list > div.item > a:visited {
	color: var(--list-a-fg);
}

div.list > div.item > a:hover {
	color: var(--list-a-h-fg);
	background-color: var(--list-a-h-bg);
}

a {
	color: var(--a-fg);
	text-decoration: none;
}

a:visited {
	color: var(--a-v-fg);
}

a:hover {
	text-decoration: underline;
}

a[href^="http://"]::after, a[href^="https://"]::after {
	content: var(--extln);
	height: 1em;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 0.125rem solid var(--tbl-border);

	width: 100%;
}

table + table {
	margin-top: 0;
	border-top: 0;
}

table + table tr:first-child td,
table + table tr:first-child th {
	border-top: 0;
}

td {
	border: 0.125rem solid var(--tbl-border);
	background-color: var(--tbl-backgr);
	font-size: 0.7em;
	padding: 0.15em 0;

	text-align: center;
	vertical-align: center;
}

th {
	border: 0.125rem solid var(--tbl-border);
	background-color: var(--tbl-border);
	padding: 0.15em 0;

	text-align: center;
	vertical-align: center;

	font-family: 'JetBrains Mono', monospace;
	font-size: 0.8em;
	font-variant: small-caps;
	font-weight: 700;
	color: var(--tbl-backgr);
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	box-sizing: border-box;
	background-color: var(--input-bg);
	border: none;
	border-bottom: 0.1em solid var(--input-ul);

	color: var(--input-fg);
	font-size: 1.5em;

	width: 100%;
}

textarea {
	font-family: 'Noto Sans', sans-serif;
	resize: vertical;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	outline: none;
	background-color: var(--input-f-bg);
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
textarea:invalid {
	color: var(--err-fg);
	background-color: var(--err-bg);
	border-bottom-color: var(--err-ul);
}

input[type=submit] {
	background-color: var(--btn-bg);
	border: none;
	border-radius: 0.3em;
	color: var(--btn-fg);
	cursor: pointer;
	display: block;

	font-size: 1.5em;
	margin: 1em auto;
	padding: 0.85em 1.15em;
}

input[type=submit]:hover {
	background-color: var(--btn-h-bg);
}

input[type=submit]:active {
	background-color: var(--btn-a-bg);
}

input[type=submit].evil {
	background-color: var(--evil-btn-bg);
	border: none;
	border-radius: 0.3em;
	color: var(--evil-btn-fg);
	cursor: pointer;
	display: block;

	font-size: 1.5em;
	margin: 1em auto;
	padding: 0.85em 1.15em;
}

input[type=submit].evil:hover {
	background-color: var(--evil-btn-h-bg);
}

input[type=submit].evil:active {
	background-color: var(--evil-btn-a-bg);
}

input[type=submit]:disabled,
input[type=submit].evil:disabled {
	background-color: var(--btn-na-bg);
	color: var(--btn-na-fg);
	cursor: not-allowed;
}

iframe {
	border-color: var(--iframe-border);
}
